* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background: #222831;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
}

.header-logo {
    font-family: Oswald;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    color: #eee;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header-link {
    list-style: none;
    color: #eee;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.header-line {
    width: 100%;
    height: 1px;
    background: #eee;
    opacity: 10%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 165px 0;
}

.banner-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 96px;
    line-height: 96px;
    color: #fff;
}

.banner-title span {
    color: #00ADB5;
}

.banner-btns {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.banner-btns button {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    background: #00ADB5;
    border-radius: 24px;
    padding: 14px 32px ;
    border: none;
}
.banner-btns button:nth-child(2){
    background: rgb(55, 55, 55);
}
.banner-right{
    position: relative;
}

.banner-right img:nth-child(2){
    position: absolute;
    right: 140px;
    top: 144px;
}